{% extends 'base.html' %}

{% block titulo %} 
<title>Sistemas Informáticos MITO - Inicio</title>
{% endblock titulo %}


{% block contenido %}
<h1 style="text-align: center; font-family: 'Times New Roman', Times, serif;">Sistemas Informáticos MITO</h1>
<br> 
{% if user.is_authenticated %}
<div><h2>
    <img src="{{ user.avatar.imagen.url }}" style="max-width: 100px;"/>
     Bienvenido/a {{ user.last_name }}, {{ user.first_name }} </h2> </div>
<!-- <div>
<img src="{{ user.avatar.imagen.url }}" style="max-width: 100px;"/>
</div>
 --><br>
{% else %}
<h2><img  src="../media/avatares/DG.png" />Bienvenido/a Visitante</h2>

{% endif %}            
{% endblock contenido %}