{% extends 'base.html' %}
 
{% block titulo %} 

<title>Sistemas Informáticos MITO - Inicio</title>

{% endblock titulo %}


{% block contenido %}
 
    
    {% load static %}
    
    <h1 class="text-center">Clientes</h1>   

    <section class="features-icons bg-light text-center">
        <div class="container  ">

            <div class="row "> 
                <div class="col-lg-4 ">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.apple.com/" target="_blank"><i class="bi bi-apple"></a></i>
                        </div>
                        <h3> Apple</h3>
                     </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.amazon.com/" target="_blank"><i class="bi bi-amazon"></a></i>
                        </div>
                        <h3> Amazon</h3>
                     </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.dropbox.com/" target="_blank"><i class="bi bi-dropbox"></a></i>
                        </div>
                        <h3> Dropbox</h3>
                     </div>
                </div>
            </div>
        </div><hr>
        <br>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.snapchat.com/" target="_blank"><i class="bi bi-snapchat"></a></i>
                        </div>
                        <h3> Snapchat</h3>
                     </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.facebook.com/" target="_blank"><i class="bi bi-facebook"></a></i>
                        </div>
                        <h3> Facebook</h3>
                     </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.playstation.com/" target="_blank"><i class="bi bi-playstation"></a></i>
                        </div>
                        <h3> PlayStation</h3>
                     </div>
                </div>
            </div>
        </div>
        <hr>
        <br>
        <div class="container ">
            <div class="row ">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.spotify.com/" target="_blank"><i class="bi bi-spotify"></a></i>
                        </div>
                        <h3> Spotify</h3>
                     </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.tiktok.com/" target="_blank"><i class="bi bi-tiktok"></a></i>
                        </div>
                        <h3> Tiktok</h3>
                     </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3 text-center">
                        <div class="features-icons-icon d-flex justify-content-center align-items-center">
                            <a href="https://www.twitter.com/" target="_blank"><i class="bi bi-twitter-x"></a></i>
                        </div>
                        <h3> X</h3>
                     </div>
                </div>
            </div>
        </div>
    </section> 
    

{% endblock contenido %}
